@font-face {
  font-family: "iconfont"; /* Project id 2605795 */
  src: url('iconfont.woff2?t=1623316529967') format('woff2'),
       url('iconfont.woff?t=1623316529967') format('woff'),
       url('iconfont.ttf?t=1623316529967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e600";
}

